#home_container {
    margin: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: monospace;
}

#toaster_list {
    list-style: none;
    display: inline;
}

#sessions_list {
    list-style: none;
    text-align: center;
}

#discord_login {
    background: #7289DA;
    text-decoration: none;
    color: white;
    padding: 0px 30px;
    text-align: center;
    float: right;
    border-radius: 3px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 45px;
    font-size: 15px;
    font-weight: 500;
}
